{% extends "_layout.twig" %}

{% block content %}
<div class="flex max-h-full bg-red-700 w-full">
   <div class="container py-12">
       <div class="w-3/4">

           <h1 class="text-slate-300 text-8xl tracking-tight font-bold py-14 mt-8">
                {# Todo: laad hier de titel van de homepagina in. #}
                {{ entry.titel }}
           </h1>

           <h2 class="text-white text-5xl tracking-tight font-bold">
                {# Todo: laad hier de ondertitel van de homepagina in. #}
                {{ entry.ondertitel }}
           </h2>

           <h2 class="w-1/5 border-b-2 border-white mt-3 content-['']"></h2>

           <div class="text-white text-2xl tracking-tight font-bold pt-10 pb-16">
                {# Todo: laad hier de intro van de homepagina in. #}
                {{ entry.homeIntro }}
           </div>
       </div>
   </div>
</div>

{#<div class="container py-12">#}
{#    <div class="w-full flex flex-wrap">#}

        {# Todo: haal hier de bordspellen op die de contentmanager heeft geselecteerd en gebruik de _gameCard snippet om deze te tonen #}

{#    </div>#}

{#    <div class="w-full flex justify-center">#}

        {# Todo: haal hier de call to action op en gebruik onderstaande div om de data te tonen #}
{#        <div class="bg-light rounded-lg p-4 font-bold hover:bg-red-700 hover:text-white">#}
{#            <a href=""></a>#}
{#            {{ svg()|attr({ class: 'inline-block w-5 h-5', role: 'img'}) }}#}
{#        </div>#}

{#    </div>#}
{#</div>#}

{# Todo: wijs de juiste data toe aan onderstaande variabele #}
{#{% set backgroundImage =  %}#}
{#{% set text =  %}#}

{#<div class="flex items-center#}
{#            {% if text|length %} max-h-full {% else %} h-128 {% endif%}#}
{#            bg-local bg-cover bg-center box-border bg-no-repeat bg-light"#}
{#            {% if backgroundImage %} style="background-image: url({{ backgroundImage.getUrl() }}) {% endif %}">#}
{#    <div class="m-auto bg-white opacity-90 rounded-sm w-2/5#}
{#                {% if text|length %} my-28 {% endif%}#}
{#                flex flex-col justify-center">#}
{#        <div class="px-12 py-12 text-center flex m-auto">#}
{#            <h3 class="w-14 border-b-4 border-red-700 m-auto mx-4 content-['']"></h3>#}

{#            <h3 class="text-4xl font-bold tracking-tight text-red-700 ">#}
                {# Todo: laad hier de titel van blok in. #}
{#            </h3>#}

{#            <h3 class="w-14 border-b-4 border-red-700 m-auto mx-4 content-['']"></h3>#}
{#        </div>#}

{#        <div class="text-center mb-8 mx-12 tracking-wide">#}
            {# Todo: laad hier de text van het blok in. #}
{#        </div>#}

{#        <div class="w-full flex justify-center pb-8">#}
{#            <div class="hover:bg-light rounded-lg p-4 font-bold bg-red-700 text-white hover:text-black">#}

                {# Todo: gebruik onderstaande a tag om de link te leggen naar de opgegeven link #}
{#                <a href=""></a>#}
{#                {{ svg()|attr({ class: 'inline-block w-5 h-5', role: 'img'}) }}#}

{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{% endblock %}